/* nav-item */
.nav-item-icon {
  color:var(--color-primary-100)
}

/* page header */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.page-header h2 {
  font-size: 20px;
  font-weight: var(--font-bold);
  color: var(--color-neutral-950);
}

.action-group {
  display: flex;
  gap: 10px;
}

/* button system*/
.btn {
  padding: 6px 14px;
  border-radius: var(--radius-sm);
  font-size: 12px;
  font-weight: var(--font-semibold);
  cursor: pointer;
  transition: var(--transition);
}

.btn.primary {
  background: var(--color-neutral-300);
  color: var(--color-neutral-500);
}

.btn.primary:hover {
  background: var(--brand);
  color: var(--color-neutral-50);
}

.btn.outline {
  border: 1px solid var(--brand);
  color: var(--brand);
}

.btn.outline:hover {
  background: var(--brand);
  color: var(--color-neutral-50);
}

/* grid= */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

/* card wrapper*/
.card {
  background: var(--color-neutral-50);
  padding: 20px;
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-soft);
}

.card h3 {
  margin-bottom: 14px;
}

/* card box */
.card-box {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 22px 26px;
  border-radius: var(--radius-md);
  min-height: 120px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

/* diskon */
.card-box.discount {
  background: linear-gradient(135deg, #7d39eb, #a855f7);
  color: var(--color-neutral-50);
}

/*voucher */
.card-box.voucher {
  background: transparent;
  border: 2px dashed var(--color-primary-500);
}

/* lefft content */
.card-left {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

.card-left h2 {
  font-size: 28px;
  font-weight: 800;
}

.card-left h3 {
  font-size: var(--text-xl);
  font-weight: var(--font-extrabold);
  color: var(--color-primary-500);
}

.card-left p {
  font-size: var(--text-xs);
}

.quota {
  font-size: var(--text-xs);
  color: var(--color-neutral-500);
}

/* right button */
.card-action {
  display: flex;
  align-items: center;
}

/* button */
.btn.small {
  padding: 8px 14px;
  border-radius: var(--radius-md);
  font-size: 12px;
  font-weight: 600;
  background: var(--color-primary-100);
  color: var(--color-primary-500);
}

.btn.small:hover {
  background: var(--brand);
  color: var(--color-neutral-50);
}

.btn.small.outline {
  background: var(--color-primary-100);
  border: 1px solid var(--color-primary-500);
  color: var(--color-primary-500);
}

.btn.small.outline:hover {
  background: var(--brand);
  color: var(--color-neutral-50);
}

/* responsive*/
@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
  }
}